{% extends "web/base.html" %}
{% block title %}
  Home
{% endblock %}

{% block content %}
{%  include 'web/_navbar.html' %}
<div class="container">
  {% if not tag %}
    <div class="card">
      <form action=" ", method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            {{ post_form.post_title }}
            <label for="id_post_title">It's about.. </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ post_form.post_field }}
            <label for="id_post_field">More about it</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ post_form.post_tags }}
            <div class="tags tags-placeholder">

            </div>
          </div>
        </div>
        <span>{{ post_form.post_image }}</span>
        <div class="card__action">
          <button class="waves-effect waves-light btn offset-s8" type="submit" name="action">Post</button>
        </div>
      </form>
    </div>
  {% endif %}
  <div class="posts-list">
    {% if tag %}
      <div class="heading-content">
        <div class="heading-prefix">Tagged in</div>
        <h1 class="heading-title">{{ tag.name }}</h1>
      </div>
    {% endif %}

    {% for post in posts %}
      <div class='card'>
        {% include 'web/_card-content.html' %}
      </div>
    {% endfor %}

  </div>
</div>

{% load static %}
<script src="{% static 'js/like.js'%}"></script>
<script>
  var url_like = "{% url 'web:like' %}";
  var csrf_token = "{{ csrf_token }}";
  $('.like_button').click(function(){
    console.log("from inside like_button");
    var post_id = $(this).parent().children('.likes_count').prop('id');
    like_post(url_like, csrf_token, post_id);
  });

</script>
{% endblock %}
