{% extends 'web/base.html' %}
{% load static %}
{% block title %}
  login
{% endblock %}
{% block content %}
  <div class="login-page">
    <div class="signin-container">
      <div class="signin">
        <h1>Discover, create and share things that move you.</h1>
        <a class="btn-login--fb" href="{% url 'social:begin' 'facebook'%}?next={{ request.path }}"> <img class="fb_logo" src="{% static 'images/fb_logo.png'%}"/>Continue with Facebook</a>
      </div>
    </div>
  </div>
{% endblock %}
